{% extends "base.html" %}

{% block title %}Account Activation{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h1>Account Activation</h1>
          {% if not form.activation_error %}
          <div class="alert alert-info">
            Please sign in to continue account activation.
          </div>
          {% elif form.activation_error == 'incorrect' %}
          <div class="alert alert-danger">
            <strong>Error!</strong> Sorry, your credentials are incorrect.
          </div>
          {% elif form.activation_error == 'expired' %}
          <div class="alert alert-danger">
            <strong>Error!</strong> Sorry, the activation key has expired. Please <a href="mailto:clangkts@gmail.com" class="alert-link">contact</a> the site administrator.
          </div>
          {% endif %}
          <form class="form-horizontal" method="post" role="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group {% if error == 'incorrect' %}has-error{% endif %}">
              <label for="{{ form.username.id_for_label }}" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="Your NTU Email (@e.ntu.edu.sg)" value="{{ form.username.value|default_if_none:'' }}">
              </div>
            </div>
            <div class="form-group {% if error == 'incorrect' %}has-error{% endif %}">
              <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:'' }}" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-3 ">
                <button type="submit" class="btn btn-primary">Sign In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}