{% extends 'base.html' %}
{% block content %}
	{% load comments %}
	<div class = "col-sm-12">
	<div class = "pull-right">
		<a href = ""><button class= "btn btn-inverse">Popular Question</button></a>
		<a href = ""><button class= "btn btn-inverse">Recent Questions</button></a>
		<a href = "/{{cur.id}}/qna/form/"><button class= "btn btn-inverse">New Questions</button></a>
	</div>
	<h3>Q&A Open Forum</h3>
	</div>
	<div class="col-sm-3">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href = "/{{cur.id}}/qna/home/?tp=-1">All topics</a></h3>
            </div>
			
            <div class="panel-body">
				{% for b in blocks %}
					<b>{{b.title}}</b><br/>
					 <ul class="ulnav">
					 {% for t in b.topics %}
						{%if t.count > 0%}
							<li class="linav2"><a href=" /{{cur.id}}/qna/home/?tp={{t.id}}"> {% if t.id == tp %}<span class="text-muted"> {% endif %}{{t.title}} ({{t.count}}){% if t.id == tp %}</span> {% endif %}</a></li>
						{% endif %}
					 {% endfor %}
					</ul>
				{% endfor  %}
			</div>
          </div>
	</div>
	<div class="col-sm-9">
		{% block qnacontent %}
		{% endblock %}
	</div>

{% endblock %}

