{% extends 'qna.base.html' %}
{% block qnacontent %}
		
		{% if asks %}
			{% for s in asks %}
				<div class="thumbnail" style="padding:10px;margin:0px;margin-bottom:10px">
					<h4><a href = "/{{cur.id}}/qna/view/{{s.id}}/">{{s.title}}</a></h4>
					{{s.contentshort|safe}}...<br/>
					{% for i in s.image %} 
						<!---<img style="max-width:100px" src ="/{{i.imageurl}}"></img>--->
					{% endfor %}
					<br/>
					{% load comments %}
					{% get_comment_count for s as comment_count %}
					<small>Views ({{s.view}}) &nbsp;&nbsp;  Answers ({{comment_count}})</small><small class="pull-right"> By {{s.author.first_name}} {{s.author.last_name}} at {{s.created}} </small>
					
				</div>
			{% endfor %}
		{% else %}
			<p>No Q&A found.</p>
		{% endif %}
		<!-- Next/Prev page links  -->
		<small class="pull-right">
					{% if asks.object_list and asks.paginator.num_pages > 1 %}
					<div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
						<span class="step-links">
							{% if asks.has_previous %}
								<a href= "?page={{ asks.previous_page_number }}">Newer entries &lt;&lt; </a>
							{% endif %}

							<span class="current">
								&nbsp;Page {{ asks.number }} of {{ asks.paginator.num_pages }}
							</span>

							{% if asks.has_next %}
								<a href="?page={{ asks.next_page_number }}"> &gt;&gt; Older entries</a>
							{% endif %}
						</span>
					</div>
					{% endif %}
 
	</small>
{% endblock %}