altgraph==0.12
asciitomathml===.89
cluster==1.2.2
Django==1.4.10
django-cleanup==0.1.10
django-comments-xtd==1.3a1
django-haystack==2.0.0
django-mptt==0.6.1
httplib2==0.9
macholib==1.7
modulegraph==0.12
MySQL-python==1.2.3
numpy==1.8.2
oauth2==1.5.211
PIL==1.1.7
Pillow==2.7.0
pyfacebook===1.0a2.1
pyswarm==0.6
python-openid==2.2.5
reportlab==3.1.44
requests==2.5.1
scikit-learn==0.15.2
scipy==0.14.0
simplejson==3.6.5
six==1.9.0
solid-i18n==0.5.1
sympy==0.7.6
whoosh==2.2.0
