{% extends 'base.html' %}
{% block content %}
		<div class="container-fluid" style="margin-top:40px;">
			<div class="row-fluid">
				<h1>{{page_title}}</h1>
				<div class="alert alert-info">
					Total Questions: {{num_q}}
				</div>
				<form action="/{{cur.id}}/control/math_admin_form/{{list_type}}/{{page_no}}/{{subj_id}}/{{list_id}}/-1/" method="get">
					<input type="submit" class="btn btn-primary" id="submit"  name="attempt"  value="Insert New Question"/>
				</form>
				<br/>
				<table width='100%' border='2'>
					<tr>
						<th>ID</th>
						<th>Paper</th>
						<th>Question Summary</th>
						<th>Topic</th>
						<th>Sub-Topic</th>
						<th></th>
					</tr>
				{% for q in questions %}											
					<form action="/{{cur.id}}/control/math_admin_form/{{list_type}}/{{page_no}}/{{subj_id}}/{{list_id}}/{{q.id}}/" method="get">
							<tr>
								<td>{{q.id}}</td>
								<td>{{q.paper}}</td>
								<td>{{q.display}}</td>
								<td>{{q.topic}}</td>
								<td>{{q.subtopic}}</td>
								<td><input type="submit" class="btn btn-danger btn-sm" id="submit" name="attempt"  value="Modify"/></td>
							</tr>
					</form>												
				{% endfor %}
				</table>
				<nav>
					<ul class = "pagination">
						{% for p in page_links %}
							{% if page_no == p %}
								<li class="active"><a href="#">{{p}}</a></li>
							{% else %}
								<li class="disable"><a href='/{{cur.id}}/control/math_admin_list/{{list_type}}/{{p}}/?list_id={{list_id}}'>{{p}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<a href="/math_admin/{{subj_id}}/" class="btn btn-success">&laquo; Back to Admin List<a>
			</div>
		</div>
{% endblock %}