{% extends 'base.html' %}



{% block content %}
	{{ form.errors }}
	<div class = "col-sm-12">
		<form   method="POST" >
			{% csrf_token %}
			<div class = "col-sm-12">{{ form.non_field_errors }}</div>
			<div class = "col-sm-2">Question No:</div>
			<div class = "col-sm-10">{{ form.question_no }} <font color = "red">{{ form.question_no.errors }}</font></div>
			<div class = "col-sm-2">Content:</div>
			<div class = "col-sm-10">{{ form.content }} <font color = "red">{{ form.content.errors }}</font></div>
			<div class = "col-sm-2">Mark:</div>
			<div class = "col-sm-10">{{ form.marks }} <font color = "red">{{ form.marks.errors }}</font></div>
			<div class = "col-sm-2">Difficulty:</div>
			<div class = "col-sm-10">{{ form.difficulty }} <font color = "red">{{ form.difficulty.errors }}</font> </div>
			<div class = "col-sm-2">Topic:</div>
			<div class = "col-sm-10">{{ form.topic }} <font color = "red">{{ form.topic.errors }}</font></div>
			<div class = "col-sm-2">Subtopic:</div>
			<div class = "col-sm-10">{{ form.subtopic }} <font color = "red">{{ form.subtopic.errors }}</font></div>
			<div class = "col-sm-2">Paper:</div>
			<div class = "col-sm-10">{{ form.paper }} <font color = "red">{{ form.paper.errors }}</font></div>
			<div class = "col-sm-2">Source:</div>
			<div class = "col-sm-10">{{ form.source }} <font color = "red">{{ form.source.errors }}</font></div>
			<div class = "col-sm-12"><input class="btn btn-primary"  type="submit" value="Submit"/></div>
		</form>
	</div>
		<!--End form--->
{% endblock %}