{% extends 'base.html' %}
{% block content %}
		<div class="container-fluid" style="margin-top:40px;">
			<div class="row-fluid">
					<h1>Modifying H2 Mathematics</h1>
					<hr>
						<form action="/{{cur.id}}/control/math_admin_form/{{list_type}}/{{page_no}}/{{subj_id}}/{{list_id}}/-1/" method="get">
							<input type="submit" class="btn btn-primary" id="submit"  name="attempt"  value="Insert New Question"/>
						</form>
					<br/>
					<h3>Choose by Paper:</h3>
					<form name="papers" action="/{{subj_id}}/control/math_admin_list/paper/1/" method="get">
						<table width = "100%">
							<tr>
								<td width = "90%">
									<select name="list_id" class="form-control" style="width:100%">
									{% for p in papers%}
										<option value="{{p.id}}">{{p.year}} {{p.month}} Paper {{p.number}}</option>
									{% endfor %}											
								</select>
								</td>
								<td>
									<input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit"/>
								</td>
							</tr>
						</table>
					</form>
					<h3>Choose by Topic:</h3>					
					<form name="papers" action="/{{subj_id}}/control/math_admin_list/topic/1/" method="get">
						<table width = "100%">
								<tr>
									<td width = "90%">
										<select name="list_id" class="form-control" style="width:100%">
									{% for t in topics %}
										<option value="{{t.id}}">{{t.title}}</option>
									{% endfor %}
									</select>
									</td>
									<td>
										<input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit"/>
									</td>
								</tr>
							</table>
					
					</form>	
			</div>
		</div>
{% endblock %}