{% extends 'base.html' %}
{% block html_head %}

{% endblock %}
{% block content %}
		<h1>Questions Database</h1>
		<hr class = "black">
			
			<br/>
			<table id="adminTable" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>ID</th>
						<th>Paper</th>
						<th>Question Summary</th>
						<th>Answer</th>
						<th>Topic</th>
						<th>Subtopic</th>
						<th>#tag</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
						{% for q in questions%}
							<tr>
								<td>{{q.topic.block.subject.title}}</td>
								<td>{{q.id}}</td>
								<td>{{q.paper.paperset.title}} Paper {{q.paper.number}}</td>
								<td>{{q.display}}...</td>
								<td>{{q.topic}}</td>
								<td>{{q.subtopic}}</td>
								<td>{{q.solution}}</td>
								<td>{{q.noTag}}</td>
								<td><a href = "/{{cur.id}}/control/math_admin_form/1/3/3/1/{{q.id}}/"><button class="btn btn-primary btn-sm"/>Edit</button></a></td>
							</tr>
						{%endfor%}
				</tbody>
			</table>
			<hr class = "black">
			
					<b>Browse by Paper:</b>
					<form name="papers" action="/{{cur.id}}/control/math_admin_list/paper/1/" method="get">
						<table width = "100%">
							<tr>
								<td width = "90%">
									<select name="list_id" class="form-control" style="width:100%">
									{% for p in papers%}
										<option value="{{p.id}}">{{p.year}} {{p.month}} Paper {{p.number}}</option>
									{% endfor %}											
								</select>
								</td>
								<td>
									<input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit"/>
								</td>
							</tr>
						</table>
					</form>
					<b>Browse by Topic:</b>					
					<form name="papers" action="/{{cur.id}}/control/math_admin_list/topic/1/" method="get">
						<table width = "100%">
								<tr>
									<td width = "90%">
										<select name="list_id" class="form-control" style="width:100%">
									{% for t in topics %}
										<option value="{{t.id}}">{{t.title}}</option>
									{% endfor %}
									</select>
									</td>
									<td>
										<input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit"/>
									</td>
								</tr>
							</table>
					
					</form>	
			</div>
{% endblock %}