<script src="/static/javascript/mathbuddy_admin-finalanswer.js"></script>
<div id='finalansGroup'>
    {% csrf_token %}
    <div class="row-fluid">
    <div class="span6">
        <label class="display-inline bold">Final Answers:</label>

        <p></p>
        <table id="faTable" style="width:564px">
            <tr class="border-black">
                <th class="border-black">No.</th>
                <th></th>
            </tr>

            {% if finalanswer %}
                {% for i in finalanswer %}
                    <tr class="border-black">
                        <td class="border-black align-top pad-top10">
                            <label>&nbsp;{{ forloop.counter }}</label>
                        </td>
                        <td>
                            <div class="pad-left10">
                                <div>
                                    <label class="display-inline bold">Answer Type:</label>
                                    <select class="width-auto" id="anstype{{forloop.counter}}" name="anstype{{forloop.counter}}" onchange="checkAnsType(this)">
                                        <option value="0">Select an answer type</option>
                                        {% for j in answertypes %}
                                            {% ifequal j.id i.answertype_id_id %}
                                                <option value='{{j.id}}' selected>{{j.description}}</option>
                                            {% else %}
                                                <option value='{{j.id}}'>{{j.description}}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <div class="margin-right50 display-inline">
                                        <label class="display-inline bold">Part No.</label>
                                        <select class="width-auto" id="part-a_e{{forloop.counter}}" name="part-a_e{{forloop.counter}}">
                                            {% with '- a) b) c) d) e)' as list %}
                                                {% for j in list.split %}
                                                    {% ifequal i.part_no|slice:"0:1" forloop.counter0|safe %}
                                                        <option value='{{forloop.counter0}}' selected>{{j}}</option>
                                                    {% else %}
                                                        <option value='{{forloop.counter0}}'>{{j}}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            {% endwith %}
                                        </select>
                                        <select class="width-auto" id="part-i_v{{forloop.counter}}" name="part-i_v{{forloop.counter}}">
                                            {% with '- (i) (ii) (iii) (iv) (v)' as list %}
                                                {% for j in list.split %}
                                                    {% ifequal i.part_no|slice:"1:2" forloop.counter0|safe %}
                                                        <option value='{{forloop.counter0}}' selected>{{ j }}</option>
                                                    {% else %}
                                                        <option value='{{forloop.counter0}}'>{{ j }}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            {% endwith %}
                                        </select>
                                    </div>
                                    <div class="display-inline">
                                        {% if i.switch %}
                                            <input type="checkbox" id = "switch{{forloop.counter}}" name = "switch{{forloop.counter}}" style="margin-bottom: 6px" checked>
                                        {% else %}
                                            <input type="checkbox" id = "switch{{forloop.counter}}" name = "switch{{forloop.counter}}" style="margin-bottom: 6px">
                                        {% endif %}
                                        <label class="display-inline bold">Is answers switchable?</label>
                                    </div>
                                </div>
                                <div>
                                    <label class="display-inline bold">Final Answer:</label>
                                    {% ifnotequal i.answertype_id_id 1 %}
                                        {% ifequal i.answertype_id_id 2%}
                                            <textarea class="textarea-fanswer" id='fanswer{{forloop.counter}}' rows=1 name='fanswer{{forloop.counter}}' onfocus="preview(this.id, 'preview'); $('#lastFocusInput').val(this.id);" onkeyup="preview(this.id, 'preview');" disabled></textarea>
                                        {% else %}
                                            <textarea class="textarea-fanswer" id='fanswer{{forloop.counter}}' rows=1 name='fanswer{{forloop.counter}}' onfocus="preview(this.id, 'preview'); $('#lastFocusInput').val(this.id);" onkeyup="preview(this.id, 'preview');">{{ i.content }}</textarea>
                                        {% endifequal %}
                                    {% else %}
                                        <textarea class="textarea-fanswer" id='fanswer{{forloop.counter}}' rows=5 name='fanswer{{forloop.counter}}' onfocus="preview(this.id, 'preview'); $('#lastFocusInput').val(this.id);" onkeyup="preview(this.id, 'preview');">{{ i.content }}</textarea>
                                    {% endifnotequal %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {#insert question#}
            {% else %}
                <tr class="border-black">
                    <td class="border-black align-top pad-top10">
                        <label>&nbsp;1</label>
                    </td>
                    <td>
                        <div class="pad-left10">
                            <div>
                                <label class="display-inline bold">Answer Type:</label>
                                <select class="width-auto" id="anstype1" name="anstype1" onchange="checkAnsType(this)">
                                    <option value="0" selected>Select an answer type</option>
                                    {% for j in answertypes %}
                                        <option value='{{j.id}}'>{{j.description}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <div class="margin-right50 display-inline">
                                    <label class="display-inline bold">Part No.</label>
                                    <select class="width-auto" id="part-a_e1" name="part-a_e1" disabled>
                                        {% with '- a) b) c) d) e)' as list %}
                                            {% for j in list.split %}
                                                <option value='{{forloop.counter0}}'>{{j}}</option>
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                    <select class="width-auto" id="part-i_v1" name="part-i_v1" disabled>
                                        {% with '- (i) (ii) (iii) (iv) (v)' as list %}
                                            {% for j in list.split %}
                                                <option value='{{forloop.counter0}}'>{{ j }}</option>
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                </div>
                                <div class="display-inline">
                                    <input type="checkbox" id = "switch1" name = "switch1" style="margin-bottom: 6px" disabled>
                                    <label class="display-inline bold">Is answers switchable?</label>
                                </div>
                            </div>
                            <div>
                                <label class="display-inline bold">Final Answer:</label>
                                <textarea class="textarea-fanswer" id='fanswer1' name='fanswer1' rows=1 onfocus="preview(this.id, 'preview'); $('#lastFocusInput').val(this.id);" onkeyup="preview(this.id, 'preview');" disabled></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
        <a class="btn btn-small btn-success margin-top10" id="add_fa" onclick="addRow('faTable')"><i class="icon-plus icon-white"></i> Add</a>
        <a class="btn btn-small btn-danger margin-top10" id="remove_fa" onclick="removeRow('faTable')"><i class="icon-remove icon-white"></i>Remove</a>
    </div>
    </div>
</div>
