{% extends "base.html" %}

{% block content %}
	<script>
		function toggleAns(button_id,ele_name) {
			id = "s"+ele_name
			var ele = document.getElementById(id);
			var text = document.getElementById(button_id);
			if(ele.style.display == "block") {
					ele.style.display = "none";
				text.value = "View Solution";
			}
			else {
				ele.style.display = "block";
				text.value = "Hide Solution";
			}
		}
	</script>

	<div class = "col-sm-12">	
		<h3>
		<a href = "/{{cur.id}}/paper/home/">
			<button class = "btn btn-default"><span class = "glyphicon glyphicon-arrow-left"></span></button>
		</a>
		Paper Question<small class="pull-right">Test ID: <span id="test_id">{{ test.id }}</span></small></h3>
	</div>
	<div class="col-sm-3 well" >
              {% csrf_token %}
              <ul class="nav bs-sidenav">
                  <li id="nav_questions">
                    <a href="#">Questions</a>
                    <ul class="nav">
                      {% for question in test.questions.all %}
                      <li><a href="#question-{{ forloop.counter }}">Question {{ forloop.counter }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
              </ul>
		<a target="_blank" href = "/{{cur.id}}/paper/question/{{ test.id }}/">
			<button class = "btn btn-default" style="display:block;width:100%"><p class = "glyphicon glyphicon-print glyphicon"></p> Print Paper Question</button>
		</a>
		<a target="_blank" href = "/{{cur.id}}/paper/solution/{{ test.id }}/">
			<button class = "btn btn-default" style="display:block;width:100%"><p class = "glyphicon glyphicon-print glyphicon"></p> Print Paper Solution</button>
		</a>
	</div>
	<div class = "col-sm-9">
		<div class = "thumbnail" style = "padding:15px">
		{% for question in testQuestion %}
          <div class="multiquestion-row">
            <div id="question-{{ forloop.counter }}" class="anchor"></div>
            <div class="row">
				<div id="qlabel" class="col-md-1">
					<h3>Q{{ forloop.counter }}:</h3>
				</div>
				
				<div class = "col-sm-12">
					{{question.content|safe}}	
					{% for i in question.images%}
						{%if i.qa == 'Question'%}
							<br/><img src='{{i.imagepath}}' height="150" >
						{%endif %}				
					{% endfor %}
					<hr/>
					<input type="button" id="{{question.id}}" name="toggleans" class="btn btn-inverse" onclick="toggleAns(this.id,this.id);"  value="View Solution"/>
					<div style = "display:none;" id="s{{question.id}}">
						<br/>
						{{question.solution|safe}}
						{% for i in question.images%}
						{%if i.qa ==  'Solution'%}
							<br/><img src='{{i.imagepath}}' height="150" >
						{%endif %}				
					{% endfor %}
					</div>
				</div>
				<hr/>
          </div>
          {% endfor %}
	</div>
	</div>
      
{% endblock %}