{% extends "base.html" %}

{% block content %}
	<div class = "col-sm-12">	
		<h3>Paper Solution <small class="pull-right">Test ID: <span id="test_id">{{ test.id }}</span></small></h3>
	</div>
	<div class="col-sm-3 well" >
              {% csrf_token %}
              <ul class="nav bs-sidenav">
                  <li id="nav_questions">
                    <a href="#">Questions</a>
                    <ul class="nav">
                      {% for question in test.questions.all %}
                      <li><a href="#question-{{ forloop.counter }}">Question {{ forloop.counter }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
              </ul>
		<a href = "/{{cur.id}}/paper/papertest/{{ test.id }}/">
			<button class = "btn btn-default" style="display:block;width:100%">View Paper without solution</button>
		</a>
		<!--
		<button class = "btn btn-default" style="display:block;width:100%"><p class = "glyphicon glyphicon-print glyphicon"></p> Print Paper</button>
		-->	</div>
	<div class = "col-sm-9 thumbnail "  style = "padding:15px">
		{% for question in testQuestion %}
			<div id="question-{{ forloop.counter }}" class="anchor"></div>
			<h4>Q{{ forloop.counter }}:</h4>	
			{{ question.content|safe }}
			{% for i in question.images %}
					{% if i.qa == "question" %}
						<br/><img src = "{{i.imagepath}}" width = "150px">
					{% endif %}
				{% endfor%}
			<h4>A:</h4>		
			{{question.solution|safe}}
			{% for i in question.images %}
					{% if i.qa == "solution" %}
						<br/><img src = "{{i.imagepath}}" width = "150px">
					{% endif %}
				{% endfor%}
			<hr/>
          {% endfor %}
	</div>
      
{% endblock %}