<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		{% block extrahead %}{% endblock %}
        <title>Mathematics Study System</title>
        <script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
            MathJax.Hub.Config({
                displayAlign: "left",
                tex2jax: {inlineMath: [['$','$'],['$$','$$'],['\\[','\\]']], displayMath:[]}
            })
        </script>
		
		<style type="text/css">
				.disableSelect {
					-webkit-user-select: none;
					-moz-user-select: -moz-none;
					-ms-user-select: none;
					user-select: none;
				}
        </style>
        <!-- General Javascript --->
		<script src="/static/javascript/jquery-1.10.2.min.js"></script>
		<script src="/static/javascript/bootstrap.js"></script>

		<script src="/static/javascript/ajaxcomment.js"></script>

		<!-- General css --->	
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/ajaxcomment.css">
		<link rel="stylesheet" href="/static/css/theme.css">
		
		<script>
		function myPrint() {
			window.print();
		}
		</script>
	</head>
    <body class="center_page">
		<div class="container">
			<div class = "pull-right"><h3>Question</h3></div>
			<div class = "pull-left"><h3>
			<button onclick="myPrint()" class = "btn btn-default">
			<span  class = "glyphicon glyphicon-print"></span>
			</button>
			Paper {{ test.id }}</h3></div>
			<br/><br/>
				<div  style = "padding:15px">
				{% for question in testQuestion %}
					<div id="question-{{ forloop.counter }}" class="anchor"></div>
					<h4>Q{{ forloop.counter }}:</h4>	
					{{ question.content|safe }}
					{% for i in question.images %}
							{% if i.qa == "question" %}
								<br/><img src = "{{i.imagepath}}" width = "150px">
							{% endif %}
						{% endfor%}
					<h4>A:</h4>		
					{{question.solution|safe}}
					{% for i in question.images %}
							{% if i.qa == "solution" %}
								<br/><img src = "{{i.imagepath}}" width = "150px">
							{% endif %}
						{% endfor%}
					<hr/>
				  {% endfor %}
			</div>
		   
		</div>
    </body>
</html>


	
      