{% extends "base.html" %}

{% block content %}
	<div class = "col-sm-12">	
		<h1>Paper Test <small class="pull-right">Test ID: <span id="test_id">{{ test.id }}</span></small></h1>
	</div>
	<div class="col-sm-3 well" >
              {% csrf_token %}
              <ul class="nav bs-sidenav">
                  <li id="nav_questions">
                    <a href="#">Questions</a>
                    <ul class="nav">
                      {% for question in test.questions.all %}
                      <li><a href="#question-{{ forloop.counter }}">Question {{ forloop.counter }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
              </ul>
		<a href = "/{{cur.id}}/paper/papertest/{{ test.id }}/">
			<button class = "btn btn-default" style="display:block;width:100%">View Paper without solution</button>
		</a>
		<button class = "btn btn-default" style="display:block;width:100%"><p class = "glyphicon glyphicon-print glyphicon"></p> Print Paper with Solution</button>
	</div>
	<div class = "col-sm-9 thumbnail">
		{% for question in testQuestion %}
			<div id="question-{{ forloop.counter }}" class="anchor"></div>
			<h3>Q{{ forloop.counter }}:</h3>	
			{{ question.content|safe }}
			<h3>A:</h3>		
			{{question.solution|safe}}
			<hr/>
          {% endfor %}
	</div>
      
{% endblock %}