{% extends 'base.html' %}
{% block content %}
	<div class = "col-sm-12">
		<h3>Question Home</h3>
		{% if mes != ""%}
			<div class="alert alert-success">{{mes}}</div>
		{% endif %}
	</div>
	
	<div class = "col-sm-6">
		<div class="well well-large">
			<h4>Browse by paper</h4>
			<form action = "/{{cur.id}}/mycontrol/qList/" method="GET">
				<select class="form-control" name="paper" >
					<option value = '-1' selected>Practice Question</option>
					{% for paper in papers%}
						<option value = {{paper.id}}>Paper {{paper.year}} {{paper.month}} {{paper.number}}</option>
					{% endfor %}
				</select>
				<br/>
				<input type = "Submit" class="btn btn-primary" value = "View Question by Paper"/>
			</form>
		</div>
	</div>
	
	<div class = "col-sm-6">
		<div class="well well-large">
			<h4>Browse by Topic</h4>
			<form action = "/{{cur.id}}/mycontrol/qList/" method="GET">
				<select class="form-control" name="topic" >
					{% for topic in topics%}
						<option value = {{topic.id}}>{{topic.title}}</option>
					{% endfor %}
				</select>
				<br/>
				<input type = "Submit" class="btn btn-primary" value = "View Question by Topic"/>
			</form>
		</div>
	</div>
	
	<div class = "col-sm-6">	
		<div class="well well-large">
			<h4>Browse by Concept</h4>
			<form action = "/{{cur.id}}/mycontrol/qList/" method="GET">
				<select class="form-control" name="concept" >
					{% for concept in concepts%}
						<option value = {{concept.id}}>{{concept.title}}</option>
					{% endfor %}
				</select>
				<br/>
				<input type = "Submit" class="btn btn-primary" value = "View Question by Concept"/>
			</form>
		</div>
	</div>
	
	<div class = "col-sm-6">	
		<div class="well well-large">
			<h4>Browse by Formula</h4>
			<form action = "/{{cur.id}}/mycontrol/qList/" method="GET">
				<select class="form-control" name="formula" >
					{% for formula in formulas%}
						<option value = {{formula.id}}>{{formula.title}}</option>
					{% endfor %}
				</select>
				<br/>
				<input type = "Submit" class="btn btn-primary" value = "View Question by Formula">
			</form>
		</div>
	</div>
{% endblock %}

