{% extends 'base.html' %}
{% block content %}
	<div class = "col-sm-12">
		<div class = "pull-right">
			<a href = "/{{cur.id}}/mycontrol/tForm/">
				<button class="btn btn-primary">Create new tag</button>
			</a>
		</div>
		<h3> 
		<a href = "/{{cur.id}}/mycontrol/tHome/?tType=concept&tp=-1">
			<button class = "btn btn-default"><span class = "glyphicon glyphicon-arrow-left"></span></button>
		</a>
		Tag Home</h3>
	</div>
	
	
	<br/>
	<div class = "col-sm-3" style="padding:0px">
		<div class='nav nav-tabs'>
					<li {% if tType == "concept" or tType = None %} class="active" {% endif %}><a href="/{{cur.id}}/mycontrol/tHome/?tType=concept&tp={{tp}}"><span>Concept</span></a></li>
					<li {% if tType == "formula" %} class="active"  {% endif %}><a href="/{{cur.id}}/mycontrol/tHome/?tType=formula&tp={{tp}}"><span>Formula</span></a></li>
					<li {% if tType == "keyword" %} class="active"  {% endif %}><a href="/{{cur.id}}/mycontrol/tHome/?tType=keyword&tp={{tp}}"><span>Keyword</span></a></li>
				</div>
		<div class="panel panel-default">
            <div class="panel-body">
				
				<a href = "/{{cur.id}}/mycontrol/tHome/?tType={{tType}}&tp=-1">
					<b>All</b>
				</a>
				<br/>
				{% for b in blocks %}
					<b>{{b.title}}</b><br/>
					 <ul class="ulnav">
					 {% for t in b.topics %}
							<li class="linav2"><a href="/{{cur.id}}/mycontrol/tHome/?tType={{tType}}&tp={{t.id}}"> {% if t.id == tp %}<span class="text-muted"> {% endif %}{{t.title}} {% if t.id == tp %}</span> {% endif %}</a></li>
					 {% endfor %}
					</ul>
				{% endfor %}
			</div>
          </div>
	</div>
	<div class = "col-sm-9">
		{{mes|safe}}
		<table id="adminTable" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Tag Title</th>
					<th>Tag Content</th>
					<th>Topic</th>
					<th>_</th>
				</tr>
			</thead>
			<tbody>
				{% for t in tags %}			
				<tr>
					<td>{{t.title}}</td>
					<td>{{t.content}}</td>
					<td>{{t.topic}}</td>
					<td><a href = "/{{cur.id}}/mycontrol/tForm/?id={{t.id}}"><button class = "btn btn-small btn-primary">Edit</button></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

