{% extends 'base.html' %}
{% block content %}
	<div class = "col-sm-12">
		<h3>Reindex Tag Search for {{cur.title}}</h3>
		{% if mes != ""%}
			<div class="alert alert-success">{{mes}}</div>
		{% endif %}
	</div>
	
	<div class = "col-sm-12">
		<div class="well well-large">
			<form action = "/{{cur.id}}/searcht/reindex/" method="POST">
				{% csrf_token %}
				<input type="hidden" name = "type" value = "tag">
				<input type = "Submit" class="btn btn-primary" width = "100%" value = "Reindex Tag Search"/>
			</form>
		</div>
	</div>
	

{% endblock %}

