{% extends 'base.html' %}
{% block content %}
	
	<div class="col-sm-12">
	<h3><a href = "/{{cur.id}}/study/?tp={{concept.topic.id}}">
			<button class = "btn btn-default"><span class = "glyphicon glyphicon-arrow-left"></span></button>
		</a>
		{% if concept.type == "C" %}
			Concept:
		{% endif %}
		{% if concept.type == "F" %}
			Formula:
		{% endif %}
		{{concept.title}}
		</h3>
	</div>
	<div class="col-sm-3">
		<div class="panel panel-default">
            <div class="panel-body">
				{% for b in blocks %}
					<b>{{b.title}}</b><br/>
					 {% for t in b.topics %}
						<ul class="ulnav">
							{% if t.id != tp %}	
								<li class ="linav"><a href = "/{{cur.id}}/study/?tp={{t.id}}">{{t.title}}</a></li>
							{% endif%}
							{% if t.id == tp %}	
								<span class="text-muted"><li class ="linav">{{t.title}}</li></span>
							{% endif%}
						</ul><br/>
					 {% endfor %}
				{% endfor  %}
			</div>
          </div>
	</div>
	<div class="col-sm-9">
				{% if concept.type == "C"%}
				<div class="well-concept">
				{% endif %}
				{% if concept.type == "F"%}
				<div class="well-formula">
				{% endif %}
					<label class ="mini">Description:  </label> {{concept.content|safe}}
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					  <h3 class="panel-title"><label>Related Video</label></h3>
					</div>
					<div class="panel-body">
						<script src="/static/javascript/ytembed.js" type="text/javascript"></script>
						<div id="youtubeDiv"></div>
						<script>ytEmbed.init({'block':'youtubeDiv','type':'search','q':'{{concept.title}} math {{cur.title}}','results': 1});</script>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					  <h3 class="panel-title"><label>Question Sample</label></h3>
					</div>
					
					<div class="panel-body">
						{% if questions|length == 0 %}
							<div class="alert alert-warning">There is no question found</div>
						{% else %}
							<ul>
								{% for q in questions%}
									<li><a href = "/{{cur.id}}/view/{{q.id}}">{{q.title}}</a></li>
								{%endfor%}
							</ul>
						{% endif %}
					</div>
				</div>
	</div>
	
{% endblock %}