<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
	</head>
    {% include 'header.html' %}
	<body>
	<div class="container">
	<div class="well">
        <h1>Welcome to StudyMath! <small class="pull-right"> Beta 1.0</small></h1>
        <p>StudyMath provide you mathematics study and practice in O level, A level and H2 level. We give you the tool. Let's study and ace your exam. All the best!</p> 
		<p><strong>To get started, please select the mathematics level you want to work on</strong></p>
    </div>
	<div class="12">
		<div class="col-sm-3">
          <div class="thumbnail">
            <div class="caption">
              <h1 align='center'>PSLE Math</h1>
              <p><strong>PSLE</strong> mathematics is Primary School Mathematic. In Singapore education system, it equivalents to primary school level  mathematics</p>
              <div class="text-right"><a href="/4" class="btn btn-primary" role="button">Get started!</a></div>
            </div>
          </div>
        </div>
		<div class="col-sm-3">
          <div class="thumbnail">
            <div class="caption">
              <h1 align='center'>E Math</h1>
              <p><strong>E</strong> mathematics is Elementary Mathematic. In Singapore education system, it equivalents to O level elementary mathematics</p>
              <div class="text-right"><a href="/1" class="btn btn-primary" role="button">Get started!</a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <div class="caption">
              <h1 align='center'>A Math</h1>
              <p><strong>A</strong> mathematics is Advanced Mathematic. In Singapore education system, it equivalents to O level advance mathematics</p>
              <div class="text-right"><a href="/2" class="btn btn-primary" role="button">Get started!</a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <div class="caption">
              <h1 align='center'>H2 Math</h1>
              <p><strong>H2</strong> mathematics is High Level Mathematic. In Singapore education system, it equivalents to A level mathematics</p>
              <div class="text-right"><a href="/3" class="btn btn-primary" role="button">Get started!</a></div>
            </div>
          </div>
        </div>
      </div>
	  </div>
	  
	</body>
</html>