{% extends 'base.html' %}
{% block content %}
	<div class = "col-sm-6">
		
		<h2>See how LOPA Math can help you to achieve excellence in study...</h2>
		<img src =  "/static/images/lopa.png" width = "250px">
		<br/><br/>
		<p>LOPA Math provides you sample that similar to your problem so that you can learn in problem based style, together with related concept and formula you need for problem solving.</p>
		<p>With this simple and easy learning system, you can better find resource, organize your concept understanding and practice to ace your study</p>
		<!--
		<div class="well" style="padding:7px">
			<img src =  "/static/images/logo.png" width = "100px"> is an Academic Project of Final Year Undergraduate
		</div>
		-->
	</div>
	<div class = "col-sm-6">
		<div class="well" style ="padding-bottom:60px">
			<iframe width="490" height="315" src="//www.youtube.com/embed/VOmkO-nBu5Q" frameborder="0" allowfullscreen></iframe>
			<hr/>
			<h2>Get Me Started With:</h2>
			<br/>
			<div class = "col-sm-7"><a href="/1" class="btn btn-primary btn-lg " style="padding:10px">O-Level Additional Mathematics</a></div>
        
			<div class = "col-sm-5"><a href="/3" class="btn btn-primary  btn-lg" style="padding:10px">A-Level Mathematics</a></div>
      
		</div>
	</div>
	
	


        
{% endblock %}