{% extends 'base.html' %}
{% block html_head %}
	<script type = "text/javascript">
		function checkSubmit(){
			var searchtext = document.getElementById("search_field").value;
				if (searchtext==""){
					return false;
				}
		}
	</script>
{%  endblock %}
{% block content %}
<div class = "span12">
	<h1>Text Index Search</h1>
	<blockquote>
		This search engine makes use of text index by Whoosh and Haystack. <br/>
		Enter any text to experience the fast and accurate Text Index Search.
	</blockquote>
	<hr/>
	<form action="/{{cur.id}}/search/" method="get" onSubmit =" return checkSubmit(this)">
		<input type = 'hidden' name ='type' value = 'question'>
		<input type = 'hidden' name ='tp' value = -1>
		<table width="100%">
			<tr>
				<td width="90%"><input	id="search_field" class = "form-control" width="100%" type="text" name="searchtext" placeholder="Enter key word"></td>
				<td><input type="submit" id="search" class="btn btn-primary" value="Search" /></td>
			</tr>
		</table>
	</form>
</div>


{% endblock %}
