<form action="/{{cur.id}}/search/" method="get" onSubmit =" return checkSubmit(this)">
			<table width="100%">
				<tr>
					<td width="90%"><input placeholder="{{searchtext}}" id="search_field" class = "form-control" width="100%" type="text" name="searchtext" placeholder={{searchtext}}></td>
					<td>
						<input type="submit" id="search" class="btn btn-primary" value="Search" />
						<input type = 'hidden' name ='type' value = '{{type}}'>
						<input type = 'hidden' name ='tp' value = -1>
					</td>
				</tr>
			</table>
</form>
{% block html_head %}
	<script type = "text/javascript">
		function checkSubmit(){
			var searchtext = document.getElementById("search_field").value;
				if (searchtext==""){
					return false;
				}
		}
	</script>
{%  endblock %}