{% extends 'base.html' %}
{% block content %}
	
	<div class="col-sm-12">
		<div class='nav nav-tabs'>
			<li {% if type == "practice" or type == None %} class="active" {% endif %}><a href="/{{cur.id}}/statistics/?type=practice"><span>Search Question Bank</span></a></li>
			<li {% if type == "qna" %} class="active" {% endif %}><a href="/{{cur.id}}/statistics/?type=qna"><span>Q&A Question Bank</span></a></li>
			
		</div>

		{% if type == "practice" or type == None%} 
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><h4 style="text-align:center">Number of question by Topic and Difficulty in Search Bank ({{all}})</h3></div>
			   
			  
			  <!-- Table -->
			  <table class="table">
				 <tr>
					<th></th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
				  </tr>
				  {% for b in blocks%}
					<tr>
						<td><b>{{b}}</b></td>
						<td colspan = "5"></td>
					</tr>
					{% for t in b.topics%}
						<tr>
							<td>{{t}}</td>
							<td>{{t.a}}</td>
							<td>{{t.b}}</td>
							<td>{{t.c}}</td>
							<td>{{t.d}}</td>
							<td>{{t.e}}</td>
						</tr>
					{% endfor %}
				  {% endfor %}
				  <tr>
							<th>Total</th>
							<th>{{total.0}}</th>
							<th>{{total.1}}</th>
							<th>{{total.2}}</th>
							<th>{{total.3}}</th>
							<th>{{total.4}}</th>
					</tr>
			  </table>
			</div>
		{% endif %}
		
		{% if type == "qna" %}
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><h4 style="text-align:center">Number of question by Topic in Q&A Bank ({{all}})</h3></div>

			  <!-- Table --> 
			  <table class="table">
				<tr>
					<td></td>
					<th>Today</th>
					<th>Month</th>
					<th>Year</th>
					<th>All</th>
				</tr>
				{% for b in blocks%}
					<tr>
						<td><b>{{b}}</b></td>
						<td colspan = "4"></td>
					</tr>
					{% for t in b.topics%}
						<tr>
							<td>{{t}}</td>
							<td>{{t.day}}</td>
							<td>{{t.month}}</td>
							<td>{{t.year}}</td>
							<td>{{t.all}}</td>
						</tr>
					{% endfor %}
				  {% endfor %}
				   <tr>
							<th>Total</th>
							<th>{{total.0}}</th>
							<th>{{total.1}}</th>
							<th>{{total.2}}</th>
							<th>{{total.3}}</th>
					</tr>
			  </table>
			</div>
		{% endif %}
		
		</div>
	
{% endblock %}