{% extends 'base.html' %}
{% block content %}
	<div class ="col-sm-12">
		<label class = "head">Concept and Formula</label>
	</div>
	<div class="col-sm-9">
		
		{% if tp == -1 %}
				<div class="alert alert-warning"> Select a topic <p class = "glyphicon glyphicon-chevron-right"></p><p class = "glyphicon glyphicon-chevron-right"></p>
				<p class = "glyphicon glyphicon-chevron-right"></p></div>
		{% elif content|length > 0 %}
			<div class="alert alert-info">Topic: {{topic}}</div>
			<div class = "col-sm-6" style="padding:0px">
				<div class="panel panel-default">
					<div class="panel-heading">
					  <h3 class="panel-title">Concept</h3>
					</div>
					<div class="panel-body">
						{% if concept|length > 0%}
							<ul>
							{% for c in concept%}
								<li><a href = "/{{cur.id}}/concept/{{c.id}}">{{c.title}}</a></li>
							{% endfor %}
						{% else %}
							<div class="alert alert-warning">No concept found for this topic</div>
						{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<div class = "col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
					  <h3 class="panel-title">Formula</h3>
					</div>
					<div class="panel-body">
						{% if formula|length > 0%}
							<ul>
							{% for f in formula%}
								<li><a href = "/{{cur.id}}/concept/{{f.id}}">{{f.title}}</a></li>
							{% endfor %}
						{% else %}
							<div class="alert alert-warning">No formula found for this topic</div>
						{% endif %}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
		{% if content|length == 0 and tp != -1 %}
			<div class="alert alert-danger">No content available for this topic</div>
		{% endif %}
	</div>
	<div class="col-sm-3">
		<div class="panel panel-default">
            
            <div class="panel-body">
				{% for b in blocks %}
					<b>{{b.title}}</b><br/>
					 {% for t in b.topics %}
						<ul class="ulnav">
							{% if t.id != tp %}	
								<li class ="linav"><a href = "/{{cur.id}}/study/?tp={{t.id}}">{{t.title}}</a></li>
							{% endif%}
							{% if t.id == tp %}	
								<span class="text-muted"><li class ="linav">{{t.title}}</li></span>
							{% endif%}
						</ul><br/>
					 {% endfor %}
				{% endfor  %}
			</div>
          </div>
	</div>
{% endblock %}