{% extends 'base.html' %}
{% block content %}
	
	<div class = "col-sm-9">
		<iframe src="https://docs.google.com/forms/d/1RmA4A4tpT0FrWo3sFB20Y41FTu9ShtYAVNds3TB3WQ0/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
	<div class = "col-sm-3">
		<h3>Thank you for helping us with the survey!</h3>
		<img src = "/static/images/thank.jpg" width="200px">
		<br/>For enquiries, please contact me at:
			<br/><span class = "glyphicon glyphicon-envelope"> </span> mathexpa{at}gmail.com 
			<hr/>
			<br/>NTU Singapore January 2015
	</div>
	
{% endblock %}