{% extends 'base.html' %}
{% block content %}
	<div class="col-sm-12">
		<h3>Tag: {{tag.title}}</h3>
	</div>
	<div class="col-sm-3">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Related tags</h3>
            </div>
            <div class="panel-body">
				{% for t in rtag%}
					<a href = "/{{cur.id}}/tag/{{t.id}}"><button class="btn btn-xs 
					{%if t.type == 'K'%}btn-keyword {%endif%}
					{%if t.type == 'F'%}btn-formula {%endif%}
					{%if t.type == 'C'%}btn-concept {%endif%}" 
					style = "margin:2px">{{t.title}}</button></a>
				{% endfor%}
			</div>
		</div>
	</div>		
	<div class="col-sm-9">
		<hr style="margin:0px;padding:0px">
		{% for q in tag.questions %}
		
							<div class = "result">	
								<table  width = "100%" style="padding:5px" >
									<tr>
										<td width = "37%">									
											<b><a style="font-size:130%" href = "/{{cur.id}}/view/{{q.id}}/"> {{q.subtopic.title}} #{{q.question_no}}:</a></b>
										</td>
										<td width = "9%">									
											{%for s in q.stars%}
												{{s|safe}}
											{%endfor%}
										</td>
										<td>
											<p class="footer">{{q.topic.title}} </p>
										</td>
										<td rowspan="2" align= 'center' width = '12%'>
												<img src = "{{q.image}}" style="max-width:100px;max-height:100px" alt="">
										</td>
									</tr>
									<tr>
										<td colspan = "3">						
											<i>{{q.content_short}}... </i> 
										</td>
									</tr>
									<tr>
										<td colspan = "4">
											{% for t in q.tagdef%}
												<a href = "/{{cur.id}}/tag/{{t.id}}"><button class="btn btn-xs
												{%if t.type == 'K'%}btn-keyword {%endif%}
												{%if t.type == 'F'%}btn-formula {%endif%}
												{%if t.type == 'C'%}btn-concept {%endif%}
												" style = "margin:2px">{{t.title}}</button></a>
											{% endfor%}
										</td>
									</tr>
								</table>
							</div>
					{% endfor %}</div>	
				
{% endblock %}