{% extends 'base.html' %}
{% load dajaxice_templatetags %}
{% block html_head %}
    {% dajaxice_js_import %}
    <script>
		function toggleAns(button_id) {
			var ele_name = "sol";
			var ele = document.getElementById(ele_name);
			var text = document.getElementById(button_id);
			if(ele.style.display == "block") {
					ele.style.display = "none";
				text.value = "View Solution";
			}
			else {
				ele.style.display = "block";
				text.value = "Hide Solution";
			}
		}
	</script>
	<script>
		function toggleSim(button_id) {
			var ele_name = "sim";
			var a = document.getElementById(ele_name);
			var text = document.getElementById(button_id);
			if(a.style.display == "block") {
					a.style.display = "none";
				text.value = "See more...";
			}
			else {
				a.style.display = "block";
				text.value = "See less...";
			}
		}
	</script>
{% endblock %}

{% block content %}
	<div class = "col-sm-12"><h3>{{question.title}}</h3></div>
    
	<div class="col-sm-3">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  Question Info
				</a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			  <div class="panel-body">
				<ul class="ulnav">
					<li><b>Name:</b> {{question.subtopic}} #{{question.question_no}}</li>
					<li><b>Difficulty :</b> {%for s in question.stars%}{{s|safe}}{%endfor%}</li>
					<li><b>Subject:</b> {{cur.title}} Mathematics</li>
					<li><b>Topic:</b> {{question.topic}}</li>
					<li><b>Subtopic:</b> {{question.subtopic}}</li>
				</ul>
				{% for t in question.tagdef %}
					<a href = "/{{cur.id}}/tag/{{t.id}}"><button class="btn btn-xs 
					{%if t.type == 'K'%}btn-keyword {%endif%}
					{%if t.type == 'F'%}btn-formula {%endif%}
					{%if t.type == 'C'%}btn-concept {%endif%} "
					
					style = "margin:2px">{{t.title}}</button></a>
				{% endfor %}
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				  Concept and Formula
				</a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="list-group">
					{% for tag in tags%}
						<li class="list-group-item">
							<span class="glyphicon glyphicon-screenshot"></span><b> 
							<a href = "/{{cur.id}}/concept/{{tag.id}}">
							{{tag.title}}
							</a>
							</b><br/>
							{{tag.content}}
						</li>
					{% endfor %}		  
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				  Similar Questions
				</a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			  <div class="list-group">
				{% for q in questions%}
					<li class="list-group-item"><a href = "/{{cur.id}}/view/{{q.id}}">{{q.subtopic}} #{{q.question_no}}</a></li>
				{% endfor%}
				<div style = "display:none;" id="sim">
					{% for q in moreQuestions%}
						<li class="list-group-item"><a href = "/{{cur.id}}/view/{{q.id}}">{{q.subtopic}} #{{q.question_no}}</a></li>
					{% endfor%}
				</div>
				<input style = "display:block;width:100%" type="button" id="toggSim" name="toggSim" class="btn btn-grey btn-xs" onclick="toggleSim(this.id);"  value="See more..."/>
			  </div>
			</div>
		  </div>
		</div>
	</div>

	<div class="col-sm-9">
		
		<div class="thumbnail ftext" >
			
			{{question.content|safe}}	
			{% for i in question.images%}
				{%if i.qa == 'Question'%}
					<br/><img src='{{i.imagepath}}' height="150" >
				{%endif %}				
			{% endfor %}
			<hr/>
			<input type="button" id="toggleans" name="toggleans" class="btn btn-inverse" onclick="toggleAns(this.id);"  value="View Solution"/>
			<div style = "display:none;" id="sol">
				<br/>
				{{question.solution|safe}}
				{% for i in question.images%}
				{%if i.qa ==  'Solution'%}
					<br/><img src='{{i.imagepath}}' height="150" >
				{%endif %}				
			{% endfor %}
			</div>
		</div>
		<div class="thumbnail ftext">
			<h4>Discussion</h4>
			{% with question as object %}{% include "comments.html" %}{% endwith %}
		</div>
        
    </div>
{% endblock %}