{% extends 'practice/practice.base.html' %}

{% block practice_content%}
	<div class="col-sm-9" >
		<div class="thumbnail">
		  <form method = "POST" action = "/{{cur.id}}/practice/submit/">
			<input type = "hidden" name = "qid" value = {{question.id}}>
			{% csrf_token %}
			<h4>Question</h4>
			{{question.content|safe}}
			<hr/>
			<h4>Answer:</h4>
			{% for fa in answers%}
				{% ifequal fa.part_no|slice:"2:3" 1|safe%}
					{%  if not forloop.first %}
						{% ifnotequal fa.part_no|slice:"0:1" 0|safe %}
							<br/>
						{% else %}
                            {% ifnotequal fa.part_no|slice:"1:2" 0|safe %}
							<br/>
                        {% endifnotequal %}
                    {% endifnotequal %}
                 {% endif %}
				{% with 'a) b) c) d) e)' as list %}
					{% for j in list.split %}
						{% ifequal fa.part_no|slice:"0:1" forloop.counter|safe %}{{j}}{% endifequal %}
                    {% endfor %}
                {% endwith %}
                {% with '(i) (ii) (iii) (iv) (v)' as list %}
					{% for j in list.split %}
						{% ifequal fa.part_no|slice:"1:2" forloop.counter|safe %}{{j}}{% endifequal %}
					{% endfor %}
				{% endwith %}
				{% endifequal %}
				{% if not fa.content %}
					{{ fa.label }}
				{% else %}
					{% for ll in fa.labellist%}
					{{ ll.label|safe }}
				{% if not forloop.last %}
					{{ll.sub}}
					<input name = "u{{fa.id}}{{ll.counter}}" value = "{{ ll.ans}}">
				{% endif %}
				{% endfor %}
                {% endif%}
			{% endfor %}

		</div>
		<input class="btn btn-default" style = "display:block;width:100%" type="submit" value="Submit" />
	  </form>
	</div>
	
{% endblock %}