{% extends 'base.html' %}
{% load dajaxice_templatetags %}
{% block html_head %}
    {% dajaxice_js_import %}
    <script>
		function toggleAns(button_id) {
			var ele_name = "sol";
			var ele = document.getElementById(ele_name);
			var text = document.getElementById(button_id);
			if(ele.style.display == "block") {
					ele.style.display = "none";
				text.value = "View Solution";
			}
			else {
				ele.style.display = "block";
				text.value = "Hide Solution";
			}
		}
	</script>
{% endblock %}
{% block content %}
	<div class="col-sm-3">
		<div class="well">
			<h4 align='center'><h3>Question Info</h3>
			<li><b>Question ID:</b> {{question.id}}</li>
			<li><b>Difficulty :</b> {%for s in question.stars%}{{s|safe}}{%endfor%}</li>
			
			<li><b>Category:</b>[{% for at in question.distinct_anstype %}
                            {{ at }}
                            {% if forloop.last %}] {% else %}, {% endif %}
                        {% endfor %}
			</li>
			<li><b>Subject:</b> {{cur}}</li>
			<li><b>Topic:</b> {{question.topic}}</li>
			<li><b>Subtopic:</b> {{question.subtopic}}</li>
			<hr/>
			<a href = "/{{cur.id}}/practice/"><button class = "btn btn-primary">Practice other topics</button></a>
		</div>
		<div class="row-fluid well well-small" >
		<h3>In this topic...</h3>
		{% for q in questions %}
		 <a href="/{{cur.id}}/practice_question/{{tp}}/{{q.id}}">{%if q.id in history%}<font style="text-decoration:line-through">	{%endif%}
						{%for s in q.stars%}{{s|safe}}{%endfor%}- {{q.subtopic}}  
                        [{% for at in q.distinct_anstype %}
                            {{ at }}
                            {% if forloop.last %}] {% else %}, {% endif %} 
						{%endfor%}{%if q.id in history%}</font>{%endif%}
                      </a><br/><br/>
		{%endfor%}
		</div>
	
	</div>
	<div class="col-sm-9">
        <div class="accordion" id="accordion2">
		<div class="thumbnail" style="margin:3px;padding:10px">
		{{question.content|safe}}
		{% for fa in answers%}
				{% ifequal fa.part_no|slice:"2:3" 1|safe%}
					{%  if not forloop.first %}
						{% ifnotequal fa.part_no|slice:"0:1" 0|safe %}
						
						{% else %}
                            {% ifnotequal fa.part_no|slice:"1:2" 0|safe %}
						
                        {% endifnotequal %}
                    {% endifnotequal %}
                 {% endif %}
				{% with 'a) b) c) d) e)' as list %}
					{% for j in list.split %}
						{% ifequal fa.part_no|slice:"0:1" forloop.counter|safe %}{{j}}{% endifequal %}
                    {% endfor %}
                {% endwith %}
                {% with '(i) (ii) (iii) (iv) (v)' as list %}
					{% for j in list.split %}
						{% ifequal fa.part_no|slice:"1:2" forloop.counter|safe %}{{j}}{% endifequal %}
					{% endfor %}
				{% endwith %}
				{% endifequal %}
				{% if not fa.content %}
					{{ fa.label }}
				{% else %}
					{% for ll in fa.labellist%}
					{{ ll.label|safe }}
				{% if not forloop.last %}
					____
				{% endif %}
				{% endfor %}
                {% endif%}
			{% endfor %}
			<br/>
		<br/><b>My answers:</b>
				<ul>
				{%for ans in results %}
					<li>$${{ans.0}}$$ 
						{% if ans.1 ==  1  %}
							<small class="pull-right"> <b><font color = "green">Correct!</font></b></small>
						{% else %}
							<small class="pull-right"><b><font color = "red">Wrong!</font></b></small>
						{%endif%}
					</li> 
				{%endfor%}
				</ul>
			<br/>
			{{numCorrect}} out of {{lenuser_input}} is correct! <br/>
			<input type="button" id="toggleans" name="toggleans" class="btn btn-inverse" onclick="toggleAns(this.id);"  value="View Solution"/>
			<div style = "display:none;" id="sol">
				{{question.solution|safe}}
			</div>
		</div>
		<div class="thumbnail" style="margin:3px;padding:10px">
			<h4>Discussion</h4>
			{% with question as object %}{% include "comments.html" %}{% endwith %}
		</div>
        
		</div>
    </div>
	
{% endblock %}