{% extends 'base.html' %}

{% block content %}
	<div class="col-sm-3">
		<div class="well">
			<h4 align='center'><h3>Question Info</h3>
			<li><b>Question ID:</b> {{question.id}}</li>
			<li><b>Difficulty :</b> {%for s in question.stars%}{{s|safe}}{%endfor%}</li>
			
			<li><b>Category:</b>[{% for at in question.distinct_anstype %}
                            {{ at }}
                            {% if forloop.last %}] {% else %}, {% endif %}
                        {% endfor %}
			</li>
			<li><b>Subject:</b> {{cur}}</li>
			<li><b>Topic:</b> {{question.topic}}</li>
			<li><b>Subtopic:</b> {{question.subtopic}}</li>
			<hr/>
			<a href = "/{{cur.id}}/practice/home/"><button class = "btn btn-default" style = "display:block;width:100%">Practice other topics</button></a>
		</div>
		<div class="row-fluid well well-small" >
		<h3>In this topic...</h3>
		{% for q in questions %}
		 <a href="/{{cur.id}}/practice/question/{{tp}}/{{q.id}}">{%if q.id in history%}<font style="text-decoration:line-through">	{%endif%}
						{%for s in q.stars%}{{s|safe}}{%endfor%}- {{q.subtopic}}  
                        [{% for at in q.distinct_anstype %}
                            {{ at }}
                            {% if forloop.last %}] {% else %}, {% endif %} 
						{%endfor%}{%if q.id in history%}</font>{%endif%}
                      </a><br/><br/>
		{%endfor%}
		</div>
	
	</div>
	{% block practice_content%}
	{% endblock %}
{% endblock %}