{% extends 'base.html' %}
{% block html_head %}
	<script type = "text/javascript">
		function checkSubmit(){
			var searchtext = document.getElementById("search_field").value;
				if (searchtext==""){
					return false;
				}
		}
	</script>
	
{%  endblock %}
{% block content %}
<div class = "span12">
		
	<h1>Formula Search</h1>
	<blockquote>
		<p>{{cur.title}}</p>
	</blockquote>
	<hr/>
	<form action="/{{cur.id}}/fsearch/result/" method="post" onSubmit =" return checkSubmit(this)" class="form-inline" role="form">
		{% csrf_token %}
		{% include "fsearch/t_formula_view.html" %}
		<br/>
		<table width = "100%">
			<tr>
				<td width = "90%">
					<input id="query" name="query" type="text" class="form-control" value="{{ query }}" style= "width:100%;display:block" onkeyup="display_formula()" />
				</td>
				<td>
					<input type = "Submit" class = "btn btn-primary" value = "Search">
				</td>
			</tr>
		</table>
	            
		<hr/><div>Preview: </div><div id="outputNode" class="formula_view"></div>
	</form>
</div>

	

{% endblock %}
