{% extends "base.html" %}

{% block html_head %}
    <script>
		function toggleAns(button_id) {
			var ele_name = "sol";
			var ele = document.getElementById(ele_name);
			var text = document.getElementById(button_id);
			if(ele.style.display == "block") {
					ele.style.display = "none";
				text.value = "View Solution";
			}
			else {
				ele.style.display = "block";
				text.value = "Hide Solution";
			}
		}
	</script>
	<script type="text/javascript">
    $(document).ready(function() {
      $("#question-flag-button").bind("click", flagQuestion);
    });

    function flagQuestion() {
      $("#myModal").modal();
      $("#myModal .modal-body").load("/question/flag/{{ question.id }}/ #flag-question-content", function(){
        /* Bind the send button to send via ajax */
        $("#feedback_btn").bind("click", flagQuestion2);
      });
    }

    function flagQuestion2() {
      var question_form = $(this).closest("form");
      var save_button = question_form.find("#feedback_btn");

      /* Jquery ajax save */
      save_button.button('saving');
      var request = $.ajax({
        type: question_form.attr('method'),
        url: "/question/flag/{{ question.id }}/",
        data: question_form.serialize(),
        cache: false
      });
      request.done(function(data) {
        save_button.button('reset');
        $("#myModal .modal-body").html($(data).find('#flag-question-content'));
        /* Bind the send button to send via ajax */
        $("#feedback_btn").bind("click", flagQuestion2);
      });
      request.fail(function(jqXHR, textStatus) {
        alert("Request failed: " + textStatus);
      });

      return false;
    }

    </script>
{% endblock %}


{% block content %}
	<div class="col-sm-12">
		 <h1>CAT Test<a href="/{{cur.id}}/cat/home" class="btn btn-danger pull-right">End CAT Test</a></h1>
	</div>
	<div class="col-sm-3">
		<div class="well">
              <h5>Topic</h5>
              <span class="label label-info">{{ question.topic }}</span>
              <h5>Difficulty</h5>
              {% if question.difficulty == 5 %}
              <span class="label label-danger"> Very Difficult</span>
              {% elif question.difficulty == 4 %}
              <span class="label label-warning">Difficult</span>
              {% elif question.difficulty == 3 %}
              <span class="label label-warning">Average</span>
              {% elif question.difficulty == 2 %}
              <span class="label label-success">Easy</span>
              {% elif question.difficulty == 1 %}
              <span class="label label-success">Very Easy</span>
              {% endif %}
              <h5>Tags</h5>
              {% if question.tags.all %}
              {% for tag in question.tags.all %}
              <span class="label label-default">{{ tag }}</span>
              {% endfor %}
              {% else %}
              <span class="label label-default">No tags yet</span>
              {% endif %}
		</div>
		<div class="panel panel-default">
        <div class="panel-heading">
          Debug Data <small>(Normally hidden from user)</small>
        </div>
        <div class="panel-body">
          <p>Question: {{question.id}}</p>
          <p>Answer: {{debug.answer}}</p>s
          <p>Difficulty (1-5): {{question.difficulty}}</p>
          <p>Current Ability: {{debug.ability}}</p>
          <p>Item info: {{question.question_info}}</p>
        </div>
      </div>
	</div>
	<div class="col-sm-9 thumbnail">
		<div id="qlabel" class="col-sm-1">
			<h3>Q:</h3>
		</div>
		<div class="col-sm-11"{% if not user.is_staff %} style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;"{% endif %}>
             {{question.content}}
			 <hr/>
		</div>
		<div id="alabel" class="col-sm-1">
			<h3>A:</h3>
        </div>
		<div class="col-sm-11">
			 <form method="post">
              {% csrf_token %}
				<!----Old and new---->
				<b>Correct answer(s): </b>
				{% for fa in answers%}
				{% ifequal fa.part_no|slice:"2:3" 1|safe%}
					{%  if not forloop.first %}
						{% ifnotequal fa.part_no|slice:"0:1" 0|safe %}
						<br/>
						{% else %}
                            {% ifnotequal fa.part_no|slice:"1:2" 0|safe %}
						<br/>
                        {% endifnotequal %}
                    {% endifnotequal %}
                 {% endif %}
				{% with 'a) b) c) d) e)' as list %}
					{% for j in list.split %}
						{% ifequal fa.part_no|slice:"0:1" forloop.counter|safe %}{{j}}{% endifequal %}
                    {% endfor %}
                {% endwith %}
                {% with '(i) (ii) (iii) (iv) (v)' as list %}
					{% for j in list.split %}
						{% ifequal fa.part_no|slice:"1:2" forloop.counter|safe %}{{j}}{% endifequal %}
					{% endfor %}
				{% endwith %}
				{% endifequal %}
				{% if not fa.content %}
					{{ fa.label }}
				{% else %}
					{% for ll in fa.labellist%}
					{{ ll.label|safe }}
				{% if not forloop.last %}
					<font color = 'blue'>$${{ ll.ans}}$$</font>
				{% endif %}
				{% endfor %}
                {% endif%}
			{% endfor %}
			<hr/>
			<b>My answers:</b>
				<ul>
				{%for ans in results %}
					<li>$${{ans.0}}$$ 
						{% if ans.1 ==  1  %}
							<small > <b><font color = "green">Correct!</font></b></small>
						{% else %}
							<small><b><font color = "red">Wrong!</font></b></small>
						{%endif%}
					</li> 
				{%endfor%}
				</ul>
			<br/>
			<div class="alert alert-success" role="alert">{{numCorrect}} out of {{totalAns}} is correct! <br/></div>
			<hr/>
			<input type="button" id="toggleans" name="toggleans" class="btn btn-inverse" onclick="toggleAns(this.id);"  value="View Solution"/>
			<div style = "display:none;" id="sol">
				{{question.solution|safe}}
			</div>
			<input type="hidden" name="qid" value="{{question.id}}">
	
			<small class = "pull-right">
			<div class="col-sm-12">
                <a href="." class="btn btn-primary" style = "display:block">Next Question</a>
             </div>
			 </small>
              
            </div>
			
		</div>
	
{% endblock %}